*, *::before, *::after {
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

/* Smooth Scrooling if I want to add a nav bar */
* {
    scroll-behavior: smooth;
}

/* Ton of boilerplate */

:root {
    --primary: #E44A36;
    --secondary: black;
    --bg: #232220; 
    --secondarybg: #3E3C38;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;

    /* color: var(--secondary); */
    color: white;
    background-color: var(--bg);

    font-family: sans-serif;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

a {
    background-color: transparent;
    text-decoration: none;
}

strong {
    font-weight: bolder;
}

img {
    border-style: none;
}

button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

progress {
    vertical-align: baseline;
}

/* Editable textfields */
.entry[contenteditable]:empty::before {
    content: "...";
    color: white;
}

.textfield {
    background-color: var(--secondarybg);
    /* color: red; */
}

/* #formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

form {
    width: 90%;
    max-width: 400px;
}

/* Consistant column format for all these containers */
#entryForm, #formContainer, .dropdownContainer, .dropdownContainerB, .gameContainer, .buttonContainer, .translationContainer, .scoreContainer, #stepsContainer, #infoContainer, #backgroundInfo, #headerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formContainer {
    gap: 10px;
}

.scoreContainer {
    text-align: center;
}

/* Consistant width for all these containers */
#stepsContainer *, #infoContainer *, #backgroundInfo *, #header{
    width: 90%;
    max-width: 700px;
}


#entryField, .gameContainer p, .translationContainer div, .scoreContainer h1 {
    width: 90%;
    max-width: 700px;
}

.translationContainer {
    gap: 10px;
}

#entry_submission, .gameSubmission, #goToHome {
    background-color: #E44A36;
    border-radius: 50px;

    border: 2px solid black;
    font-weight: bold;
}

/* Custom css for the language forms on the home Page */
fieldset {
    border: 2px solid;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

legend {
    padding: 5px 10px;
    border: 0;
}

fieldset div {
    display: flex;
    align-items: center;     

    * {
        margin: 5px;
    }
} 

.textfield {
    border: 1px solid var(--secondary);
    font-family: inherit;
    font-size: inherit;
    
    display: block;
    width: 100%;
    padding: 1rem;
    overflow: hidden;
    /* resize: both; */
    min-height: 50px;
    word-wrap: break-word;
    white-space: normal;

    border-radius: 5px;
}

#header, h2, h3, a, legend, strong {
    color: var(--primary);
}

input {
    background-color: var(--secondarybg);
    color: var(--primary);
}

#entry_submission, .gameSubmission, #goToHome, .translationContainer{
    padding: 1rem;
    color: white;
}

#backgroundInfo, #stepsContainer, #infoContainer, .gameContainer{
    gap: 1rem;
}

.radio {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid black;
    position: relative;
    transition: 0.2s all linear;
}



.radio:checked {
    border: 6px solid var(--primary);
}

.radio:active {
    color: var(--primary);
    outline: 1px solid transparent;
}


#collapsible, #collapsible2 {
    background-color: var(--primary);
    cursor: pointer;
    padding: 3px;
    font-weight: bold;
}

/* Styling for the collapsible button and actual content */
/* Since these are equal, refactoring them into a template would be ideal */
#collapsible_content, #collapsible_content2{
    max-height: 0;
    overflow: hidden;
    background-color: #232220;

    transition: max-height 0.2s ease-out;
}

#collapsible_content, #collapsible_content2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#header {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* Styling for the container and buttons for special characters */
.specialCharsContainer {
    display: flex;
    justify-content: center;
    gap: 5px;

    flex-wrap: wrap;    

    width: 80%;
    max-width: 500px;
}

.sChar {
    /* width: 10px;
    height: 10px; */
    padding: 5px;
    background-color: var(--primary);
    color: black;
}

/* Styling for my own name */
#eric {
    /* position: absolute; */
    /* bottom: 0; */
    /* margin-top: auto; */
    display: flex;
    align-items: center;

    gap: 5px;

    * {
        height: fit-content;
        width: fit-content;
    }
}

#portfolio {
    transition: transform 0.5s ease;
}

#portfolio:hover {
    transform: translateY(-5px);
}

.dropdownContainer {
    display: flex;  
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    min-width: 200px;
}

.dropdown, .dropdownB {
    /* width: 90%; */
    position: relative;
    display: inline-block;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* max-width: 500px; */
}

.dropdownContent, .dropdownContentB {
    display: none;
    position: absolute;
    z-index: 1;
    /* gap: 10px; */
    /* background-color: #E44A36; */
}

.dropdownButtonA, .dropdownButtonB {
    display: block;
    width: 100%;
    min-width: 160px;   
}

.dropdownContent button, .dropdownContentB button{
    display: block;
    width: 100%;
    min-width: 160px;
    padding-top: 2px;
    padding-bottom: 2px;
    /* background-color: rebeccapurple; */
}

.dropdownContainer:hover .dropdownContent, .dropdownContainerB:hover .dropdownContentB {
    /* background-color: #E44A36; */
    display: block;
}